.box-item {
  display: flex;
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 0px 10px 20px 10px;
  transition-duration: .5s;
  border-radius: 8px;
  position: relative;
}

.panel {
  display: flex;
  flex-direction: row;
  top: 265px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.838);
  padding: 5px;
  width: 300px;
  color: rgb(205, 203, 203);
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.panel-box-name {
  transition-duration: .4s;
}

.panel-box-name:hover {
  color: rgb(205, 253, 203);
  transform: scale(1.1)
}

.panel-remove {
  transition-duration: .4s;
}

.panel-remove:hover {
  color: tomato;
  cursor: pointer;
}

.panel-remove-hide {
  display: none;
}

.panel-likes {
  cursor: pointer;
}

i {
  padding: 5px;
}

.box-item:hover {
  transform: scale(1.05);
}

.box-preview {
  pointer-events: none;
  zoom: 50%;
  overflow: hidden;
}


