#nav {
  display: grid;
  grid-template-columns: 200px auto 100px 100px 100px 20px;
  grid-template-rows: 40px;
  align-items: center;
  background-color: rgb(40, 40, 40);
  color: rgb(205, 203, 203);
}
.link {
  justify-self: center;
  cursor: pointer;
  transition-duration: .5s;
  padding: 10px;
}

.link:hover {
  color: tan;
}

#nav-logo {
  grid-column: 1;
  cursor: pointer;
}

#nav-logo:visited {
  color: rgb(205, 203, 203);
}

#nav-logo i {
  font-size: 30px;
  padding: 15px;
  color: tan;
}
#nav-user {
  grid-column: 5;
  font-size: 25px;
}