.authentication {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  margin: 20px auto;
  background-color: rgba(47, 79, 79, 0.894);
  border-radius: 8px;
  align-items: center;
}

.auth-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-bottom: 40px;
}

.auth-title-logo  {
  color: whitesmoke;
  font-size: 24px;
  margin: 15px;
}

.auth-title-logo i {
  font-size: 48px;
  padding-right: 5px;
  color: tan;
}

.authentication form {
  outline: none;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.authentication form input {
  outline: none;
  border: 2px rgba(0, 0, 0, 0.819);
  background-color: rgba(0, 0, 0, 0.202);
  color: whitesmoke;
  padding: 5px;
  margin: 1px;
}

.authentication input:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.authentication input:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.auth-msg {
  margin-top: 5px;
  color: tomato;
  font-size: 12px;
}

#form-submit {
  background-color: rgba(0, 0, 0, 0.819);
  border: 3px rgba(0, 0, 0, 0.819);
  color: whitesmoke;
  cursor: pointer;
  transition-duration: .5s;
}

#form-submit:hover {
  background-color: rgba(0, 0, 0, 0.519);
  color: whitesmoke;
}

.auth-switch {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 15px;
  font-size: 14px;
}
.auth-switch-btn {
  margin: 10px;
  cursor: pointer;
  transition-duration: .5s;
  text-decoration: underline;
  font-size: 14px;
}
.auth-switch-btn:hover {
  color:tan;
}


#user-dash{
  display: grid;
  grid-template-columns: 250px auto;
  /* height: 100vh; */
}

#user-info {
  grid-column: 1;
  display: grid;
  grid-template-rows: 50px auto;
  background-color: #3f5454;
  border-right: rgba(0, 0, 0, 0.476) 1px solid;
  height: calc(100vh - 35px);
}

#user-group {
  display: flex;
  flex-direction: row;
  width:100%;
  height: 100%;
  align-items: center;
  padding: 10px;
  color: rgb(205, 203, 203);
}

#user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#user-username {
  padding-left: 5px;
}

#user-feed {
  grid-column: 2;
  height: calc(100vh - 35px);
  overflow: scroll;
}

#user-feed .list {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
}

.info-item {
  color: blanchedalmond;
}

#panel-hidden {
  display: none;
}

#panel-alert {
  position: fixed;
  width: 400px;
  border-radius: 8px;
  top: 30%;
  left: 50%;
  margin-left: -75px;
  display: flex;
  flex-direction: column;
  background-color: rgba(47, 79, 79, 0.99);
  color: blanchedalmond;
  font-size: 14px;
}

#panel-close {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
  align-items: center;
  transition-duration: .4s;
}

#panel-close:hover {
  color: red;
  cursor: pointer;
}

#panel-msg {
  text-align: center;
  margin: 5px 0px 10px 0px;
}

#panel-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

#panel-btns input {
  background-color: blanchedalmond;
  color: darkslategray;
  cursor: pointer;
  padding: 5px;
  width: 100px;
  border: none;
  border-radius: 5px;
  transition-duration: .4s;
}

#panel-btns input:hover {
  background-color: rgb(219, 191, 150)
}